StateLabel {
    height: 3;
    margin: 0;
    min-width: 15;
    padding: 1;
    text-align: center;
    text-style: bold;
    color: white;
}

Tabs Tab {
        width: 50%;
}

.serial {
    height: 3;
    margin: 0;
    min-width: 20;
    padding: 1;
    text-align: center;
    text-style: bold;
    background: rgb(1, 54, 95);
    color: white;
}

.pass {
    background: green;
}

.fail {
    background: red;
}

.running {
    background: orange;
}

.waiting {
    background: gray;
}
